@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lancelot&family=Limelight&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Josefin Sans, Times New Roman, serif;
}

h1, h2 {
    font-family: Limelight, Times New Roman, serif;
    text-transform: uppercase;
    padding-top: 3%;
}

h1 {
    letter-spacing: 5px;
    padding-left: 3%;
    font-size: 400%;
    color: #492711;
}

h2 {
    letter-spacing: 3px;
    font-size: 200%;
    color: burlywood;
}

header p {
    color: #38291c;
    font-size: 200%;
    padding-top: 3%;
    padding-left: 3%;
    width: min(600px, 68%)
}

section p {
    color: burlywood;
    font-size: 150%;
    padding-top: 3%;
    width: 95%;
}

footer p {
    color: #38291c;
    font-size: 150%;
    font-style: italic;
    padding-top: 3%;
    text-align: center;
}

header {
    background: url('../images/header.jpg') no-repeat center center;
    height: 600px;
}

hr {
    height: 5px;
    background-color: burlywood;
}

section {
    background-color: #38291c;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

footer {
    background: url('../images/footer.jpg') no-repeat center center;
    background-size: cover;
    height: 150px;
}

img {
    margin: 20px;
    }