@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Limelight&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Josefin Sans, Times New Roman, serif;
}

h1 {
    font-family: Limelight, Times New Roman, serif;
    text-transform: uppercase;
    letter-spacing: 5px;
}