@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lancelot&family=Limelight&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Josefin Sans, Times New Roman, serif;
    background-color: #38291c;
}

header {
    background: url('../images/header.jpg') no-repeat center center;
    background-color: burlywood;
    background-size: cover;
    padding: 3%;
}

section {
    background-color: #38291c;
    padding: 3%;
}

footer {
    background: url('../images/footer.jpg') no-repeat center center;
    background-color: burlywood;
    background-size: cover;
    padding: 3%;
}

h1 {
    font-family: Limelight, Times New Roman, serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 400%;
    color: #420;
    padding-bottom: 3%;
}

h2 {
    font-family: Limelight, Times New Roman, serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 200%;
    color: burlywood;
}

h2 a {
    text-decoration: none;
    color: inherit;
 }

header p {
    color: #38291c;
    font-size: 200%;
    width: min(650px)
}

section p {
    color: burlywood;
    font-size: 150%;
    padding-top: 3%;
}

footer p {
    color: #38291c;
    font-size: 150%;
    font-style: italic;
    text-align: center;
}

/* Menu styling */

div a {
    font-family: Limelight, Times New Roman, serif;
    text-transform: uppercase;
    text-decoration: none;
    color: burlywood;
    letter-spacing: 3px;
    font-size: 160%;
    padding-left: 2%;
    padding-right: 2%;
}

#menu {
    text-align: center;
    padding: 2%;
}

.active {
    background-color: burlywood;
    color: #38291c;
 }

a:hover {
    background-color: burlywood;
    color: #38291c;
}

hr {
    height: 5px;
    background-color: burlywood;
}

@media screen and (max-width: 600px) {
    header p {
      width: 100%;
    }
}

/* Section styling for individual HTML pages */

.tea-section {
    background-color: #940;
 }

.coffee-section {
    background-color: #210;
 }

.cacao-section {
    background-color: #520;
}

.mate-section {
    background-color: #540;
 }

.guarana-section {
    background-color: #720;
 }

.matcha-section {
    background-color:#240;
 }